* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

a:hover {
    color: blue;
}

nav {
    height: 100%;
}

ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    margin: 1em;
}

li:nth-child(1) {
    font-size: 3em;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: absolute;
    width: 100%;
}

.logo {
    margin: auto;
}

li:nth-child(2) {
    order: -1;
}

li:nth-child(3) {
    order: -1;
}

li:nth-child(4) {
    order: -1;
}

li:nth-child(5) {
    order: -1;
}

li:nth-child(6) {
    margin-left: auto;
}

.container {
    height: 4.25em;
    background: #C1C1C1;
}



