:root {
    --bg-info: rgb(208,222,252);
    --bg-success: rgb(214, 242, 220);
    --bg-warning: rgb(252, 250, 206);
    --bg-error: rgb(244, 212, 215);
    --text-info: rgb(49, 48, 139);
    --text-success: rgb(54, 108, 62);
    --text-warning: rgb(138, 121, 47);
    --text-error: rgb(126, 43, 58);
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 70%;
    padding: .6em;
    margin: 10px auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.message-info {
    background: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    background: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    background: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    background: var(--bg-error);
    color: var(--text-error);
}